<link rel="stylesheet" href="src/css/navigation.css" />
<script src="js/components/navbar.js"></script>
<img src="/icons/loader.webp" alt="img" width="200" height="200" id="loader"
  class="position-absolute top-50 start-50 translate-middle" style="z-index: 3; display: none;">
<div id="overlay" style="height: 100vh; background-color: black; opacity: 0.9; display: none;"></div>
<div id="navdiv1">
  <div class="position-absolute top-0 start-0 d-flex z-1 main-div">
    <div class="nav-costom1">
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 side-bar bgColor">
            <div class="my-3 mx-5" style="height: 50px">
              <a href="/dashboard"><img src="icons/l.png" alt="img" style="margin-left: -45px;margin-top: -27px;"
                  width="200" height="140"></a>
            </div>
            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 mx-3 min-vh-100 div-h "
              style="margin-top: 40px">
              <div class="btn my-2 navigationDiv" id="navdashboard">
                <a href="/dashboard" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/home.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Dashboard</span>
                </a>
              </div>
              <div class="btn my-2 navigationDiv" id="navproducts">
                <a href="/products" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/Products.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Products</span>
                </a>
              </div>
              <% if(data?.roleId==4){ %>
                <div class="btn my-2 navigationDiv" id="navcategory">
                  <a href="/category" class="d-flex align-items-center justify-content-start nav-link"><img
                      src="icons/manager.svg" alt="img" width="30" height="20" />
                    <span class="fs-6 mx-2 text-light">Category</span>
                  </a>
                </div>
                <% } %>
                  <% if(data?.roleId==4){ %>
                    <div class="btn my-2 navigationDiv" id="navmanager">
                      <a href="/manager" class="d-flex align-items-center justify-content-start nav-link"><img
                          src="icons/manager.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">Managers</span>
                      </a>
                    </div>
                    <% } %>
                      <div class="btn my-2 navigationDiv" id="navmanageCustomers">
                        <a href="/manageCustomers" class="d-flex align-items-center justify-content-start nav-link"><img
                            src="icons/customer.svg" alt="img" width="30" height="20" />
                          <span class="fs-6 mx-2 text-light">Customers</span>
                        </a>
                      </div>
                      <div class="btn my-2 navigationDiv" id="navmanageSuppliers">
                        <a href="/manageSuppliers" class="d-flex align-items-center justify-content-start nav-link"><img
                            src="icons/supplier.svg" alt="img" width="30" height="20" />
                          <span class="fs-6 mx-2 text-light">Suppliers</span>
                        </a>
                      </div>
                      <% if(data?.roleId==4){ %>
                        <div class="btn my-2 navigationDiv" id="navstore">
                          <a href="/store" class="d-flex align-items-center justify-content-start nav-link"><img
                              src="icons/warehouses.svg" alt="img" width="30" height="20" />
                            <span class="fs-6 mx-2 text-light">Warehouses</span>
                          </a>
                        </div>
                        <% } %>
                          <div class="btn my-2" id="navpurchase" data-bs-toggle="collapse" data-bs-target="#submenu1"
                            aria-expanded="false" aria-controls="submenu1">
                            <div class="d-flex">
                              <a class="d-flex align-items-center justify-content-start nav-link">
                                <img src="icons/purchase.svg" alt="img" width="30" height="20" />
                                <span class="fs-6 mx-2 text-light">Purchase</span>
                              </a>
                              <img src="icons/downarrow.svg" alt="img" class="float-end mt-1" width="25" height="15" />
                            </div>
                            <div class="collapse collapse-horizontal" id="submenu1">
                              <ul class="dis-flex nav flex-row ms-1">
                                <li>
                                  <a href="/purchaseOrder"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/order.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">Order</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="/purchaseHistory"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/history.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">History</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="btn my-2" id="navsales" data-bs-toggle="collapse" data-bs-target="#submenu2"
                            aria-expanded="false">
                            <div class="d-flex">
                              <a class="d-flex align-items-center justify-content-start nav-link">
                                <img src="icons/sales.svg" alt="img" width="30" height="20" />
                                <span class="fs-6 mx-2 text-light">Sales</span>
                                <img src="icons/downarrow.svg" alt="img" class="float-end mt-1" width="25"
                                  height="15" />
                              </a>
                            </div>
                            <div class="collapse collapse-horizontal" id="submenu2">
                              <ul class="dis-flex nav flex-row ms-1">
                                <li>
                                  <a href="/salesNewOrder"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/order.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">Order</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="/salesHistory"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/history.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">History</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="btn my-2" id="navreport" data-bs-toggle="collapse" data-bs-target="#submenu3"
                            aria-expanded="false">
                            <div class="d-flex">
                              <a class="d-flex align-items-center justify-content-start nav-link ">
                                <img src="icons/sales.svg" alt="img" width="30" height="20" />
                                <span class="fs-6 mx-2 text-light">Reports</span>
                              </a>
                              <img src="icons/downarrow.svg" alt="img" class="float-end mt-1" width="25" height="15" />
                            </div>
                            <div class="collapse collapse-horizontal" id="submenu3">
                              <ul class="dis-flex nav flex-row ms-1">
                                <li>
                                  <a href="/purchaseReport"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/purchase.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">Purchase </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="/salesReport"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/history.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">Sales</span>
                                  </a>
                                </li>
                                <li>
                                  <a href="/reportGenerate"
                                    class="d-flex align-items-center justify-content-start nav-link text-dark navigationSubDiv"><img
                                      src="icons/history.svg" alt="img" width="30" height="20" />
                                    <span class="fs-6 mx-2 text-light">Customize</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar bg-body nav-costom2" style="position: fixed;
    z-index: 10;
    margin-left: 210px; box-shadow: 0 2px 5px #0000001f,0 6px 10px #0000001f; left: 0;
    width: -webkit-fill-available; width: -moz-available;">
      <div class="container-fluid">
        <p class="navbar-brand fs-3 b" style="margin-left: 20px;"><b> Inventory Management </b></p>
        <div class="m-1">
          <div>
            <% if(data?.roleId==4) { %>
              <img src="icons/notification.svg" alt="img" width="35" height="35" id="notification"
                onclick="displayNotifications(event)" />
              <div class="notifications-box" id="notifications-box" style="display: none;"
                onclick="event.stopPropagation()">
              </div>
              <% } %>
                <img src="<%= data?.dp ? `/uploads/${data.dp}` : '/icons/profile.png'%>" onclick="showDropDown();"
                  class="dropimg" alt="img" width="40" height="40" class="rounded-circle" /></a>
                <div class="dropdown">
                  <div id="dropdownList" class="dropdown-content">
                    <a href="/profile" class="d-flex justify-content-evenly">
                      <img src="/icons/profile.svg" alt="" height="15" width="15">
                      <span>
                        Profile
                      </span>
                    </a>
                    <a href="/logout" onclick="logout();" class="d-flex justify-content-evenly">
                      <img src="/icons/logout.svg" alt="" height="15" width="15">
                      <span>
                        Logout
                      </span>
                    </a>
                  </div>
                </div>
          </div>
        </div>
      </div>
  </div>
  </nav>
</div>
</div>
<% if(data?.roleId==4) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    let notifications = [];

    socket.on('notifications', (obj) => {
      notifications = obj;
      if (notifications.some(obj => !obj.seen)) {
        showBadge();
      }
    })

    setInterval(() => {
      socket.emit('readyForNotifications');
    }, 6000);

    function displayNotifications(e) {
      if (document.getElementById('notifications-box').style.display == 'none') {
        e.stopPropagation();
      }
      const box = document.getElementById('notifications-box');
      box.innerHTML = '<div style="background-color: #002f4b !important;color: #fff !important;text-align: center;padding: 8px 20px;}">Notifications</div>';

      if (notifications.length) {
        notifications?.slice(0, 5)?.forEach((obj) => {
          let text = '';

          switch (obj.type_id) {
            case 20:
              text = `<a href="/productView?id=${obj.product_id}">${obj.product_name}</a> from <a href="/storeProducts?id=${obj.storage_id}">${obj.storage_name}</a> storage has ran out of stock.`;
              break;
            case 21:
              text = `<a href="/productView?id=${obj.product_id}">${obj.product_name}</a> from <a href="/storeProducts?id=${obj.storage_id}">${obj.storage_name}</a> storage is nearing stock out.`;
              break;
          }

          const html = `
            <div class="notification ${obj.seen ? '' : 'unread'}">
              ${text}
              </div>
              `;

          box.innerHTML += html;
        })
        box.style.display = 'block';
      } else {
        box.innerHTML += '<p style="padding: 8px 20px;">No notification found</p>';
        box.style.display = 'block';
      }

      socket.emit('markAsRead');
      notifications.forEach(obj => obj.seen = 1)
      hideBadge();
      window.addEventListener('click', hideNotifications);
    }

    function showBadge() {
      const imgEle = document.getElementById('notification');
      imgEle.src = 'icons/notification-badge.svg';
    }

    function hideBadge() {
      const imgEle = document.getElementById('notification');
      imgEle.src = 'icons/notification.svg';
    }

    function hideNotifications(e) {
      document.getElementById('notifications-box').style.display = 'none';
      window.removeEventListener('click', hideNotifications);
    }
  </script>
  <% } else { %>
    <script>
      function displayNotifications() { }
    </script>
    <% } %>
      <script src="js/components/navbar.js"></script>