<link rel="stylesheet" href="src/css/components/pagginationComponent.css">
<script src="js/components/pagginationComponent.js"></script>
<section class="pagginationsection">
    <div class="pagginationcontainer">
        <div class="rowpaggination">
            <div class="colpaggination" id="leftbutton">
                <div class="pagginationbutton firstPage arrowPage" id="firstPage" onclick="firstPageButton()">
                    &lt;&lt; </div>
                <div class="pagginationbutton prevPage arrowPage" id="prevPage" onclick="prevPageButton()">
                    &lt; </div>
                <div class="pagenumber">
                    <p id="currentpageshow" class="currentpageshow"></p>
                </div>
                <div class="colpaggination">
                    <div class="pagginationbutton nextPage arrowPage" id="nextPage" onclick="nextPageButton()"> &gt;
                    </div>
                    <div class=" pagginationbutton lastPage arrowPage" id="lastPage" onclick="lastPageButton()">
                        &gt;&gt; </div>
                </div>
            </div>
        </div>
</section>