<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product View</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
</head>

<body onload="loadData()">
  <%- include("../components/navigation", {data})%>
    <div class="div-second">
      <div class="container p-3">
        <div class="row ">
          <div class="col p-5">
            <h3>Product View</h3>
            <div id="productBody">
            </div>
          </div>
          <div class="col d-flex align-items-center p-5">
            <img src="icons/pro1.png" alt="img" width="350" height="350">
          </div>
          <div class="p-5">
            <% if(!data?.storageId) { %>
              <h3>Storages</h3>
              <div id="storages" class="d-flex justify-content-between flex-wrap"></div>
              <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="js/commonFunction/commonFunction.js"></script>
    <script src="/js/products/productView.js"></script>
</body>

</html>