<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link rel="stylesheet" href="/src/css/login/style.css">
  <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  <script src="/sweetalert2/sweetalert2.min.js"></script>
</head>

<body>
  <div class="main" style="display: flex; width: 675px;">
    <div class="">
      <img src="/icons/login.gif" alt="" style="width: 364px;
      margin-top: 98px;">
    </div>
    <div class="loginPage">
      <div id="expire" style="color: red;"></div>
      <h1>Inventory Management</h1>
      <h2>Login Form</h2>
      <form method="post" id="form">
        <label for="email">Email</label>
        <div>
          <input style="width: 290px;" type="email" name="email" id="email" class="form-control"
            placeholder="xyz@gmail.com">
        </div>

        <label for="password">Password</label>
        <div class="eyes">
          <img id="eye_slash" class="eye1" src="icons/hide(1).png" alt="">
          <img src="icons/view.png" style="display: none;" class="eye1" id="eye" alt="">
        </div>

        <div>
          <input style="width: 290px;" type="password" name="password" id="password" class="form-control">
          <span id="text" style="color: red;"></span>
        </div>

        <div class="main_err">
          <div><a id="forgot" href="/user">Forgot password?</a></div>
          <div class="main_err" id="main_err" style="color: red;">
          </div>
        </div>

        <button style="width: 290px;" class="button" type="button" onclick="submitbtn()">Login</button>
      </form>
    </div>
  </div>
  <script src="/js/login/login.js"></script>
  <script src="/js/commonFunction/commonFunction.js"></script>
  <script src="js/login/loginValidation.js"></script>
</body>

</html>