<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
        <button type="button" class="btn-close" onclick="modelHide('deleteModal')" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sure You Want To Delete????
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="modelHide('deleteModal')"
          data-bs-dismiss="modal">Close</button>
        <button type="button" id="confirm" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>