<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manage Managers</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/manager/manager.css" />

</head>

<body>
  <%- include('../components/navigation', {data})%>
    <%- include('./deletePopup')%>
      <section class="div-second manager-section p-3">
        <div class="manager-container" id="managerGrid">
          <div class=" main1">
            <div class="header" id="head">
              <div>

                <img style="width: 40px; height: 40px;" src="icons/management.png" alt="">
              </div>

              <div class="mm2">
                <p class="h2">Managers</p>
              </div>
            </div>

            <div class="filter1">
              <div class="newAdd">
                <p class="btn btn-outline-dark filter1" onclick="addManager()">Add New</p>
              </div>
            </div>
          </div>
          <div id="filter" class="filter">

            <div class="filter3">
              <input class="form-control form2 mr-sm-2 w-40" type="search" id="search" placeholder="Search"
                onkeyup="search()" aria-label="Search" />
            </div>
            <div class="form-floating filter2">
              <select name="status" class="form-select filter1" id="status" onchange="managerFilter()">
                <option value="Active" selected>Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <label for="floatingPaymentStatus">Status</label>
            </div>
          </div>
          <div class="grid" id="grid">
            <h2 class="text-center" id="error"></h2>
            <table class="table table-hover" id="table">
              <thead class="table-light" id="thead">
              </thead>
              <tbody id="tbody"></tbody>
            </table>
          </div>
        </div>
        <%- include('../form/managerForm')%>
          <section class="d-flex justify-content-center" id="paggination">
            <%- include('../components/pagginationComponent')%>
          </section>
      </section>
      <script src="js/commonFunction/commonFunction.js"></script>
      <script src="js/manager/manager.js"></script>
      <script src="js/manager/managerValidation.js"></script>
</body>

</html>