<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Order</title>
  <link rel="stylesheet" href="src/css/dashboard/dashboard.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <!-- <link rel="stylesheet" href="src/css/salesModule/sales.css" /> -->
  <link rel="stylesheet" href="src/css/salesModule/form.css" />
  <link rel="stylesheet" href="src/css/allpage.css" />


  <link rel="stylesheet" href="sweetalert2/sweetalert2.min.css">
  <script src="sweetalert2/sweetalert2.min.js"></script>
</head>

<body>

  <%- include('deletePopup')%>
    <%- include('../components/navigation', {data})%>

      <div class="div-second">
        <div class="container">
          <div class="formHeader">
            <div class="title">
              <img src="icons/sales.png" alt="img" width="50" height="50" style="margin-top: -61px; " />
              <h2>Sales Order</h2><br>
            </div>
            <div class="historyBtn">
              <a href="/salesHistory" class="btn btn-outline-primary">
                History
              </a>
            </div>
          </div>
          <div id="insertFormDiv">

            <form name="insertSalesData" id="insertSalesData" onsubmit="return false">
              <input type="text" name="orderid" hidden id="orderid" />
              <div class="form-floating mb-3">
                <input name="date" type="date" class="form-control" id="date" placeholder="date">
                <label for="floatingDate">Date</label>
              </div>
              <div class="form-floating mb-3">
                <select name="customer" class="form-select" aria-label="select" id="customer">
                </select>
                <label for="floatingSupplier">Customer</label>
              </div>
              <div class="form-floating mb-3">
                <select name="paymentStatus" class="form-select" aria-label="select" id="paymentStatus"></select>
                <label for="floatingPaymentStatus">Payment</label>
              </div>
              <div class="form-floating mb-3">
                <textarea class="form-control insertFields" name="shippingAddress" placeholder="Shipping Address"
                  id="shippingAddress"></textarea>
                <label for="floatingPaymentStatus">Shipping Address</label>
              </div>
              <%if(data.roleId==4){%>
                <div class="form-floating mb-3">
                  <select name="storage" class="form-select" aria-label="select" id="storageCombo"></select>
                  <label for="storageCombo">Storage</label>

                </div>
                <%}%>
                  <button type="button" class="btn btn-primary" onclick="insertOrder()" id="insertSubmit">
                    Submit
                  </button>

            </form>
          </div>
          <div id="productFormDiv">
            <%- include('../salesModule/productForm')%>
          </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="js/commonFunction/commonFunction.js"></script>
        <script src="js/salesModule/form.js"></script>
        <script src="js/salesModule/insertFormApi.js"></script>
        <script src="js/salesModule/updateOrder.js"></script>

        <script src="js/salesModule/product.js"></script>
        <script src="js/salesModule/updateGrid.js"></script>
        <script src="js/salesModule/insertFormvalidation.js"></script>
        <script src="js/salesModule/productFormValidation.js"></script>

</body>

</html>