* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myForm {
  display: none;
  position: absolute;
  top: 0%;
  left: 30%;
  z-index: 1;
}

#closeSupplierForm {
  cursor: pointer;
  width: 100px;
  position: absolute;
  top: 5%;
  right: 0;
}

.manageSupplierFieldset {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
